.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff3e6c;
  padding: 10px 20px;
}

.navbar-logo {
  font-size: 24px;
  color: #fff;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-item {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
}

.join-link {
  background-color: #ff3e6c;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  margin: 5px 0;
}

.join-link:hover {
  background-color: #e62958;
}

.login-link {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}